/* dark.css */

/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему.
*/



/* Общие стили для темной темы */
.page.theme_dark {
  --background-color: #000028;
  --text-color: #FF0070;
  --accent-color: #FF0070;
  --header-background: #000028;
  --button-background: transparent;
  --button-hover: transparent;

  /* Фон страницы */
  background-color: var(--background-color);
}

/* Шапка */
.page.theme_dark .header {
  background-color: var(--header-background);
  background-image: url('../images/cover-image-dark.png'); /* Фоновое изображение */
  -webkit-background-size: cover; /* Вендорный префикс для Safari */
  -moz-background-size: cover; /* Вендорный префикс для Firefox */
  -o-background-size: cover; /* Вендорный префикс для Opera */
  background-size: cover; /* Занимает всю доступную область */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Запрещаем повторение */
}

/* Текст "no focus" в шапке */
.page.theme_dark .header__title {
  color: #DB00FF; /* Цвет текста */
  text-shadow: 4px 4px #FF0070; /* Тень цвета #FF0070 */
  -webkit-text-shadow: 4px 4px #FF0070; /* Вендорный префикс для Safari */
}

/* Стили для темной темы */
.page.theme_dark .header__subtitle {
  color: #000028; /* Цвет текста */
  background-color: #FF0070; /* Цвет выделения */
}

/* Кнопки переключения тем */
.page.theme_dark .header__theme-menu-button {
  color: var(--text-color); /* Цвет текста кнопок */
  border: 1px solid var(--text-color); /* Обводка кнопок */
}

.page.theme_dark .header__theme-menu-button_active {
  box-shadow: inset 0 0 0 1px var(--text-color); /* Обводка для активной кнопки */
  -webkit-box-shadow: inset 0 0 0 1px var(--text-color); /* Вендорный префикс для Safari */
}

/* Блоки с выделением */
.page.theme_dark .section__highlight,
.page.theme_dark .column__highlight,
.page.theme_dark .section__highlight-no {
  background-color: #FF0070; /* Фон выделения */
  color: #000028; /* Цвет текста */
}

/* Абзацы */
.page.theme_dark .section__text,
.page.theme_dark .column__text {
  color: #F1B2CE; /* Цвет текста абзацев */
}

/* Подвал */
.page.theme_dark .footer {
  background-color: #000028; /* Фон подвала */
  background-image: url('../images/cover-image-dark.png'); /* Фоновое изображение */
  -webkit-background-size: cover; /* Вендорный префикс для Safari */
  -moz-background-size: cover; /* Вендорный префикс для Firefox */
  -o-background-size: cover; /* Вендорный префикс для Opera */
  background-size: cover; /* Занимает всю доступную область */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Запрещаем повторение */
}

/* Текст "focus" в подвале */
.page.theme_dark .footer__text {
  color: #DB00FF; /* Цвет текста */
  text-shadow: 2px 2px #FF0070; /* Тень цвета #FF0070 */
  -webkit-text-shadow: 2px 2px #FF0070; /* Вендорный префикс для Safari */
}

/* Заголовки */
.page.theme_dark .section__title,
.page.theme_dark .column__title {
  color: #FF0070;
}

