/* light.css */

/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему.
*/

.page.theme_light {
  --background-color: #fff1f7;
  --text-color: #000000;
  --accent-color: #ff8dcb;
  --header-background: transparent;
  --button-background: transparent;
  --button-hover: transparent;

  /* Дополнительные стили для декоративных элементов */
  .header__rec {
    display: none; /* Скрываем REC в светлой теме */
  }

  .header {
    background-image: url('../images/cover-image-light.png');
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #ff8dcb;
    --header-background: #f5f5f5;
    --button-background: #e0e0e0;
    --button-hover: #bdbdbd;

    /* Дополнительные стили для декоративных элементов */
    .header__rec {
      display: none; /* Скрываем REC в светлой теме */
    }

    .header {
      background-image: url('../images/cover-image-light.png');
    }
  }
}